.err404-page {
    .frame-view-content {
        background-color: #fff;
    }
    .con {
        width: 100%;
        height: auto;
        margin-top: 300px;
        .bg {
            width: 270px;
            height: 270px;
            background-image: url("~@/assets/img/base/empty.png");
            background-repeat: no-repeat;
            background-position: 100%;
            background-color: #fff;
            background-size: 100%;
            margin: 0 auto;
        }
        .text {
            font-size: 30px;
            color: #666;
            text-align: center;
            line-height: 48px;
            margin-top: 15px;
        }
    }
}
