html {
    font-size: 10vw;
}

body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC",
        "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    text-size-adjust: 100% !important; /** IOS禁止微信调整字体大小 */
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}
